# Java / Maven
smart-email-ai-assistant-backend/target/

# Node
smart-email-ai-assistant-extension/node_modules/
smart-email-ai-assistant-extension/dist/
smart-email-ai-assistant-writer-frontend/node_modules/
smart-email-ai-assistant-writer-frontend/dist/

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Logs
*.log

# Environment / Secrets
.env
.env.*
!.env.example

# OS
Thumbs.db
.DS_Store

# Postman
.postman/
postman/